<!DOCTYPE HTML>

<html lang=en dir=ltr>
  <head>
    <title>Citation Hunt</title>
    <meta name="robots" content="nofollow, noodp, noarchive, noindex">
    <meta name="description" content="Citation Hunt">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      google.charts.load("current", {"packages":["corechart", "table"]});
      google.charts.setOnLoadCallback(draw);

      function createChartElement(idx) {
        var chartElement = document.createElement("div");
        chartElement.setAttribute("id", "chart" + idx);
        chartElement.classList.add("chart");
        document.body.appendChild(chartElement);
        return chartElement;
      }

      {% for (title, data, type) in graphs %}
      function draw{{ loop.index }}() {
        var data = new google.visualization.arrayToDataTable({{ data | safe }}, false);
        var chartElement = createChartElement({{ loop.index }});
        var options = {};

        {% if type == 'line' %}
        var chart = new google.visualization.LineChart(chartElement);
        options.title = "{{ title }}";
        options.legend = {position: "bottom"};
        {% elif type == 'table' %}
        var chart = new google.visualization.Table(chartElement);
        options.page = 'enable';
        {% endif %}

        chart.draw(data, options);
      }
      {% endfor %}

      function draw() {
        {% for (title, data, type) in graphs %}
          draw{{ loop.index }}();
        {% endfor %}
      }
    </script>
  </body>
</html>
